<div class="row text-center" id="homesection">
    <div class="container">
        <h2 class="section-heading">About</h2>
        <div class="col-md-4 col-md-offset-2">
            <h3 class="section-subheading text-muted">Hello <strong>{{ main.justName || "user" }}, </strong> my name is Miomir Vukovic. I'm a student of Software & data engineering at Singidunum University in Belgrade. I live in Serbia, I'm 23 year old. I'm fully focused on creating interesting
                solutions for web and mobile businesses. I'm very creative and imaginative, feel free and contact me.</h3>
        </div>
        <div class="col-md-4 col-md-offset-1">
            <h3 class="section-subheading text-muted">
                This project was created for the graduate work of my study. Technologies were used in this project are MongoDB, ExpressJS, AngularJS & NodeJS. How authentication works - When you're registred, server take your current IP address and set it to DB and cookie,
                when you try to login It'll be normal login If you use same device you used for register, otherwise you'll get 6-digit number which expires in 2 minutes.
            </h3>
        </div>
        <div class="col-md-12">
            <a href="https://www.linkedin.com/in/miomirvukovic/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
            <a href="https://dribbble.com/ckomi" target="_blank"><i class="fa fa-dribbble" aria-hidden="true"></i></a>
            <a href="https://www.behance.net/vukovicmio0033" target="_blank"><i class="fa fa-behance-square" aria-hidden="true"></i></a>
        </div>
    </div>
</div>