<!-- Heading -->
<div class="row text-center">
    <div class="container">
        <h2 class="section-heading">{{ main.justName }}'s Profile</h2>
    </div>
</div>
<br>
<!-- Static Photo Div-->
<div class="row text-center">
    <div class="container">
        <div id="userFacePhoto"></div>
    </div>
</div>
<br>
<!-- Full Name Div -->
<div class="col-xl-6 userProfileLabels">
    <div class="col-xl-6 userProfileInfo">
        <p> Full Name:</p>
    </div>
    <div class="col-xl-6 userProfileOutput">
        <p> {{ main.name }} </p>
    </div>
</div>
<!-- Username Div -->
<div class="col-xl-6 userProfileLabels">
    <div class="col-xl-6 userProfileInfo">
        <p> Username:</p>
    </div>
    <div class="col-xl-6 userProfileOutput">
        <p> {{ main.username}} </p>
    </div>
</div>
<!-- Email Div -->
<div class="col-xl-6 userProfileLabels">
    <div class="col-xl-6 userProfileInfo">
        <p> Email:</p>
    </div>
    <div class="col-xl-6 userProfileOutput">
        <p> {{ main.useremail }} </p>
    </div>
</div>
<!-- Phone Div -->
<div class="col-xl-6 userProfileLabels">
    <div class="col-xl-6 userProfileInfo">
        <p> Phone:</p>
    </div>
    <div class="col-xl-6 userProfileOutput">
        <p> {{ main.phone }} </p>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>